{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100"> <img src="{{ product.image.url }}" class="card-img-top"
                    alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Price:</strong> ₹{{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}